.modal {
    transition: all 0.25s ease-in-out;

    &:is(.show) {
        overflow: auto;

        & .modal-dialog {
            animation: show-in-top 0.25s ease-in-out backwards;
        }
    }

    &:not(.show) {
        & .modal-dialog {
            animation: hide-in-bottom 0.25s ease-in-out backwards;
        }
    }

    &-btn {
        &-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: var(#{$prefix}-modal-content-padding-y);
            transform: translate(0, 0);

            &>* {
                padding: calc(var(#{$prefix}-btn-padding-y) - 0.25rem) calc(var(#{$prefix}-btn-padding-x) - 0.25rem);
                font-size: calc(var(#{$prefix}-btn-font-size) - 25%);
                line-height: calc(var(#{$prefix}-btn-font-size) - 25%);
            }
        }
    }

    & [btn-close-modal] {
        margin: auto 0 auto auto;
    }

    &-work {
        & .modal-dialog {
            max-width: calc(100% - 1.5rem);

            @media (min-width: 992px) {
                max-width: 48.375rem;
            }
        }

        & .modal-header {
            padding: 0 var(#{$prefix}-modal-header-padding-x) var(#{$prefix}-modal-header-padding-y);
        }

        & .modal-image {
            position: relative;
            z-index: 1;
            width: 100%;
            aspect-ratio: 16 / 9;
            overflow: hidden;

            &>img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .swiper-gallery {

            & .swiper-slide,
            & swiper-slide {
                width: 100% !important;

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}