.header {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
    padding: var(--header-padding-y) 1.5rem;
    background-color: var(--header-bg-color);
    border-radius: 10rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0rem 0.0625rem 0.0469rem 0rem rgba(255, 255, 255, 0.15) inset,
        0rem -0.0625rem 0.0625rem 0rem rgba(0, 0, 0, 0.33) inset;

    @media (min-width: 768px) {
        top: 1rem;
        padding: var(--header-padding-y) 2.5rem;
    }

    @media (min-width: 992px) {
        justify-content: space-between;
        max-width: 80.375rem;

    }

    @media (min-width: 1320px) {
        width: 100%;
        margin: 0 auto 1rem;
    }

    &>.header-logo {
        z-index: 1011;
        margin-right: 3rem;
    }

    & .nav {
        // display: none;

        // @media (min-width: 992px) {
        //     display: flex;
        // }
    }

    &>[data-menu-open] {
        display: flex;
        // margin-left: auto;

        @media (min-width: 992px) {
            margin-left: 3rem;
            visibility: hidden;
            opacity: 0;
            z-index: -1;
        }
    }

    &-logo {
        display: flex;
        width: 2rem;
        height: 2rem;
        transform: none;
        transition: 0.4s ease;
        will-change: transform;

        @media (min-width: 768px) {
            width: 3rem;
            height: 3rem;
        }

        &:hover {
            // transform: rotate(270deg) scale(1.25);
            transform: skewX(-11deg);
        }

        &>* {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    & .btn-header {
        margin-left: auto;

        @media (min-width: 992px) {
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translate(0, -50%);
        }
    }
}