.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media (min-width: 992px) {
        flex-direction: row;
        gap: 2.5rem;
    }

    &-link {
        position: relative;
        z-index: 1;
        display: flex;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.25;
        color: light-dark(var(--dark), var(--light-grey));
        text-decoration: none;
        transform: none;
        transition: 0.25s ease;
        will-change: transform;

        @media (min-width: 992px) {
            font-weight: 400;
            font-size: 0.985rem;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -0.25rem;
            left: 50%;
            z-index: 1;
            width: 0;
            height: 0.0625rem;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, light-dark(rgba(0, 0, 0, 1), rgba(255, 255, 255, 1)) 50%, rgba(255, 255, 255, 0) 100%);
            opacity: 0;
            visibility: hidden;
            transform: translateX(-50%);
            transition: 0.25s ease;
        }

        &:hover {
            &::before {
                width: 100%;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}