:root {
  --padding-input-y: 1rem;
  --padding-input-x: 1rem;
  --form-font-size: 1rem;
  --form-line-height: 1.2rem;
  --form-font-weight: 400;
  --form-font-color: var(--grey-900-rgb);
  --form-font-color-opacity: 1;
  --form-letter-spacing: 0;
  --form-border-width: 0.0625rem;
  --form-border-color: var(--grey-300-rgb);
  --form-border-color-opacity: 1;
  --form-border-radius: 0.75rem;
  --form-background-color: var(--grey-100-rgb);
  --form-background-color-opacity: 1;
  --form-icon-width: 1rem;
  --form-icon-height: 1rem;
}
