.section-hero {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(
    100vh - (var(--header-height) + (var(--header-padding-y) * 2)) * 2
  );
  min-height: calc(
    100svh - (var(--header-height) + (var(--header-padding-y) * 2)) * 2
  );
  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}
